body {
    font-family: "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho", serif;
    font-size: 10.5pt;
    counter-reset: h1;
    counter-reset: list-caption;
    counter-reset: list-caption-display;
}

body > p {
    margin-top: .6em;
    text-indent: 1em;
    line-height: 1.4;
    font-size: 10.5pt;
}

h1, h2, h3, h4, h5, h6,
.cover .title, .cover .subtitle {
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", sans-serif;
}

h3, h4, h5, h6 {
    font-weight: bold;
    color: #222;
}

body > ul li {
    margin-top: .2em;
    margin-bottom: .2em;
}

body > h1 {
    margin: 1.5cm 0 .6cm 0;
    counter-reset: h2;
}
body > h1::before {
    counter-increment: h1;
    content: counter(h1) ". "
}
body > h2::before {
    counter-increment: h2;
    content: "(" counter(h2) ") ";
}

/* キャプション */
[data-list-caption] {
    position: relative;
    margin-top: 40px;
}
[data-list-caption]::before {
    counter-increment: list-caption;
    content: "表" counter(list-caption) "： " attr(data-list-caption);
    position: absolute;
    top: -30px;
    left: 50%;
    width: 100%;
    height: 30px;
    margin-left: -50%;
    line-height: 30px;
    font-size: 10.5pt;
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", sans-serif;
    text-align: center;
}
.list-caption-display::before {
    counter-increment: list-caption-display;
    content: "表" counter(list-caption-display)
}

/* Components */
.table-db {
    margin: 20px auto;
    border: 1px solid  #222;
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", sans-serif;
}
.table-db[data-list-caption] {
    margin-top: 40px;
}
.table-db caption {

}
.table-db td,
.table-db th {
    border-right: 1px solid  #222;
    text-align: center;
}
.table-db thead {
    font-size: 10pt;
    background: #ccc;
    color: #222;
}
.table-db tbody tr:nth-child(even) {
    background: #f5f5f5;
}

/* 表紙 */

.cover {
    text-align: center;
}
.cover .title {
    font-size: 25pt;
    line-height: 1.4;
}
.cover .subtitle {
    font-size: 18pt;
    line-height: 1.5;
}
.cover .author {
    margin-top: .8cm;
}
.cover .author .name {
    font-size: 14pt;
}
.cover .author .affiliation {
    margin-top: .2cm;
    margin-bottom: 2cm;
    font-size: 11pt;
}

.page-footer {
    font-size: .8em;
    text-align: center;
}
/* 表紙のノンブルを消去 */
.page-footer:nth-of-type(1) {
    display: none;
}